<div>
    <h1>Carrito</h1>
    <br>{{#if cart.products}}
            {{#each cart.products}}
            <div>
                <h2>{{this.product.title}}</h2>
                <h3>{{this.product.description}}</h3>
                <h4>${{this.product.price}}</h4>
                <h4>Cantidad:{{this.quantity}}</h4>
            </div>
            {{/each}}
        {{else}}
            <h2>El carrito está vacio</h2>
        {{/if}}
    <br>
</div>



