<div>
    <h1 class="productsContainer-title">Productos</h1>
    <br>

        <form method="get" action="/products">
            Filtrar por  categoría:
            <select name="categorias">
                <option selected>Todas</option>
                <option name="camisetas" value="camisetas">Camisetas</option>
                <option name="pantalones" value="pantalones">Pantalones</option>
            </select>
            <input type="submit" value="enviar">
        </form>
        <div class="productsContainer">
            {{#each docs}}
            <div class="productCard">
                <h2>{{this.title}}</h2>
                <h3>{{this.description}}</h3>
                <h4>{{this.price}}</h4>
                <h5 id="productId">ID:{{this._id}}</h5>
                <button id="addToCart">Agregar al carrito</button>
            </div>
            {{/each}}
        </div>
        <div>
            {{#if categoryExist }}
                {{#if hasPrevPage}}
                    <a href="/products?categorias=camisetas&page={{prevPage}}"><button>Anterior</button></a>
                {{/if}}
                    
                {{#if hasNextPage}}
                    <a href="/products?categorias=camisetas&page={{nextPage}}"><button>Siguiente</button></a>
                {{/if}}
            {{else}}
                {{#if hasPrevPage}}
                    <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
                {{/if}}
                    
                {{#if hasNextPage}}
                    <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
                {{/if}}
            {{/if}}
        </div>
    <br>
</div>
<br>
<div class="addProduct-container">
    <h1 class="addProduct-title">Agregar productos</h1>
    <br>
    <form class="addProduct-form"  action="/products" method="post">
        <div class="addFormLabels">
        <label>Nombre</label>
        <input name="title">
        </div>

        <div class="addFormLabels">
        <label>Descripcion</label>
        <input name="description">
        </div>

        <div class="addFormLabels">
        <label>Precio</label>
        <input name="price" type="number">
        </div>

        <div class="addFormLabels">
        <label>Stock</label>
        <input name="stock" type="number">
        </div>

        <div class="addFormLabels">
        <label>Categoria</label>
        <input name="category">
        </div>

        <input class="formSubmit" type="submit">
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="js/home.js"></script>